/* Education.css */
.timeline {
	position: relative;
	max-width: 500px;
	margin: 0 auto;
}

.timeline-item {
	padding: 10px 40px;
	position: relative;
	width: 20%; /* Default width for larger screens */
}

@media (max-width: 768px) {
	.timeline-item {
		width: 65%; /* Width for smaller screens */
	}
}

.item-header {
	font-family: "Courier New", Courier, monospace;
	color: #00ff00;
	background-color: #000;
	border: 2px solid #00ff00;
	padding: 10px 20px;
	text-transform: uppercase;
	box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
	transition: all 0.2s ease-in-out;
}
