.flex-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.image-container img {
	width: 100%;
	max-width: 400px;
}

.text-container {
	flex: 1;
	padding-left: 300px;
}
