.project-card {
	position: relative;
	background-color: #1c1c1c;
	border: 2px solid #00d9ffa0;
	padding: 10px 20px;
	box-shadow: 0 0 5px rgba(0, 217, 255, 0.5);
	transition: all 0.2s ease-in-out;
}

.project-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 0 5px #00d9ff;
}

.retro-button {
	font-family: "Courier New", Courier, monospace;
	color: #00d9ff;
	background-color: #000;
	border: 2px solid #00d9ff;
	padding: 10px 20px;
	text-transform: uppercase;
	box-shadow: 0 0 5px rgba(0, 217, 255, 0.5);
	transition: all 0.2s ease-in-out;
}

.retro-button:hover {
	background-color: #00d9ff;
	color: #000;
}
