.terminal {
	background-color: #000;
	color: #33ff33;
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 20px #000;
	height: 70vh;
	margin-top: 3%;
	overflow: auto;
	text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
}

.content-container {
	overflow: auto;
	text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
}

.terminal-bar {
	display: flex;
	align-items: center;
	padding: 0 10px;
	background-color: #333;
	color: white;
	border-radius: 10px;
}

.tabs {
	display: flex;
}

.tab {
	padding: 5px 10px;
	margin: 0 5px;
	background-color: #555;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.3s, background-color 0.3s;
	display: flex;
	align-items: center;
}

.tab:hover {
	background-color: #777;
	transform: scale(1.05);
}

.tab.active {
	border: 2px solid #33ff33;
}

/* Window controls (close, minimize, maximize) */
.window-controls {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
}

.window-controls.close {
	background-color: #ff605c;
}

.window-controls.minimize {
	background-color: #ffbd44;
}

.window-controls.maximize {
	background-color: #00ca56;
}

.command-prompt {
	margin-top: 20px;
	font-family: "Courier New", Courier, monospace;
	text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
}

.command-text {
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
	text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
}

.quote-border,
.greeting-border {
	padding: 20px;
	margin: 20px 0;
	display: inline-block;
	font-family: "Courier New", Courier, monospace;
	font-size: medium;
	text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
}

.board-row {
	display: flex;
	text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
}

.square {
	width: 13vb;
	height: 13vh;
	background-color: black;
	border: 1px solid #999;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: bold;
	overflow: auto;
	text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
}

.status {
	margin-bottom: 10px;
	text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
}

.hangman {
	text-align: center;
	overflow: hidden;
}

.word {
	font-size: 2rem;
	margin: 20px 0;
}

.letter {
	margin: 0 5px;
}

.keyboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.letter-button {
	margin: 5px;
	padding: 10px;
	font-size: 1rem;
	cursor: pointer;
}

.hangman {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hangman-figure {
	margin: 20px 0;
}

.figure-container {
	stroke: #33ff33;
	stroke-width: 4px;
	width: 100%;
	height: auto;
}

.figure-part {
	stroke: #33ff33;
	stroke-width: 4px;
}

.button-container {
	display: flex;
	justify-content: center;
}

.retro-button {
	font-family: "Courier New", Courier, monospace;
	color: #00ff00;
	background-color: #000;
	border: 2px solid #00ff00;
	padding: 10px 20px;
	text-transform: uppercase;
	box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
	transition: all 0.2s ease-in-out;
}

.retro-button:hover {
	background-color: #00ff00;
	color: #000;
}
