@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.custom-hover-underline:hover {
	text-decoration: underline;
	text-decoration-color: white !important;
	text-decoration-thickness: 2px;
}

html {
	scroll-behavior: smooth;
	font-family: "Courier New", Courier, monospace;
	background: linear-gradient(
		109.6deg,
		rgb(20, 30, 48) 11.2%,
		rgb(36, 59, 85) 91.1%
	);
}
